@media screen and (max-width: 600px) {
    .header-section{
        flex-direction: column;
        margin-left: 50px;
        
    }
    .items-content{
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 10px;
        gap: 2z0px; 
    }
    .banner{
        flex-direction: column;
        margin-top: 40px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-img{
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
}